body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
hr {
    margin: 0;
}

.welcome {
    background-image: url("./Rectangle.png");
    width: 100%;
    height: 900px;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.welcome__menu__point__link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 40px;
}

div.welcome__menu__point:hover {
    border-bottom: 2px solid #FFFFFF;
}

.welcome__menu__point {
    padding-bottom: 40px;
}

.welcome__menu {
    width: auto;
    padding-top: 40px;
    padding-left: 50%;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.welcome__content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
    padding-bottom: 335px;
    text-align: center;
    color: #FFFFFF;
}

.welcome__content__tagline {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin-top: 20px;
    margin-bottom: 50px;
}

button {
    background-color: #4985FF;
    width: 200px;
    height: 45px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border-color: #4985FF;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.creation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.creation__name {
    color: #323232;
    margin-bottom: 50px;
    margin-top: 110px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
}

.creation__info {
    color: #999999;
    margin-bottom: 70px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.creation__site {
    display: flex;
    flex-direction: row;
    padding-left: 17%;
    padding-right: 17%;
    height: auto;
}

.creation__site__point {
    display: flex;
    flex-direction: row;
}

.creation__site__point__content__name,
.creation__site__point__content__info {
    margin-left: 17px;
}

.creation__site__point__content__name {
    margin-top: 55px;
    margin-bottom: 12px;
}

.creation__site__point__content__info {
    color: #999999;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.creation__site__point__pic {
    margin-left: 30px;
}

.creation_button {
    margin-top: 55px;
    margin-bottom: 105px;
}
.standarts{
    background-color: #F6F6F8;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.standarts{
    background-color: #F6F6F8;
    width: auto;
    height: auto;
    padding: 100px 17% 70px 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.standarts__content{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #E0E0E0;;
}
.standarts__content__info{
    margin-right: 120px;
}
.standarts__content__info__name{
    color: #323232;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    margin-top: 52px;
    margin-bottom: 40px;
}
.standarts__content__info__text{
    color: #999999;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
a{
    color: #4985FF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}
.standarts__content__pic__img{
    size: 500px 400px;
}
.standarts__projects{
    padding: 70px 10% 70px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.standarts__projects__point__number{
    display: flex;
    flex-direction: row;
}
.standarts__projects__point__number__amount{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    margin-left: 20px;
}
.standarts__projects__point__info{
    margin-top: 17px;
    color: #999999;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}
.work{
    width: auto;
    height: auto;
    padding: 100px 17% 85px 17%;
    background-image: linear-gradient(to bottom, #504DC2 50%, transparent 50%);
}
.work__head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}
.work__head__name{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
}
.work__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 85px;
    border-bottom: 1px solid #E0E0E0;
}
.work__content__article__name{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}
.work__content__article__name__number, .work__content__article__name__name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.work__content__article__name__number{
    color: #4985FF;
    margin-right: 5px;
}
.work__content__article{
    width: 350px;
}
.work__content__article__info{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    margin-bottom: 30px;
}
.projects{
    background-color: #F6F6F8;
    width: auto;
    height: auto;
    padding: 100px 17% 130px 17%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects__name{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}
.projects__info{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 50px;
    margin-bottom: 70px;
}
.projects__pic{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 63px;
}
.video{
    background: linear-gradient(to bottom,rgba(0,0,0, 0) 50%,white 50%),url(./Rectangle.png);
    width: auto;
    height: auto;
    padding: 70px 17% 85px 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video__name{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.video__info{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 70px;
}
div.video__video{
    width: 970px;
    height: 430px;
    background-image: url(./Rectangle\ 6.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
a.video__video{
    align-self: center;
}
.video__mailing{
    margin-top: 85px;
    padding-top: 85px;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.video__mailing_content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin-top: 20px;
    margin-bottom: 30px;
}
.video__email{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.video__email__textarea{
    height: 45px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.video__email__button{
    border-radius: 0 30px 30px 0;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}
.video__end{
    margin-top: 35px;
    margin-bottom: 85px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}
.footer{
    width: auto;
    height: auto;
    background-color: #F6F6F8;
    padding: 70px 17% 30px 17%;
}
.footer__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__info__contacts__name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.footer__info__contacts__content{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 3;
    color: #999999;
    list-style-image: url(./Vector.svg); 
    margin-left: 0;
    padding-left: 0;
}
.footer__note, .footer__info__contacts__content__link{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #999999;
    margin-top: 30px;
    text-decoration: none;
}
.footer__line{
    border: 1px solid #E0E0E0;
    margin-top: 40.5px;
}
.footer__info__contacts__content__point{
    list-style: none;
}