body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: auto;
}
h1,h2,h3,h4,h5,p,span{
    margin: 0;
}
p{
    font-size: 16px;
    color: #727272;
}
h2{
    font-size: 32px;
    color: #000000;
    margin-bottom: 50px;
}
button{
    width: 225px;
    height: 65px;
    background: #34547A;
    color: #FFFFFF;
    border: none;
}
.header{
    width: auto;
    height: auto;
    padding: 79px 17% 146px 17%;
    background-color: #EEEFF1;
}
.header__menu__nav{
    float: right;
}
.header__menu__nav * {
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 0.1em;
    margin-left: 42px;
    font-weight: bold;
}
/*не БЭМ*/
a:hover{
    color: #34547A;
}
.header__content{
    margin-top: 162px;
    padding-left: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__content__info{
    margin-left: 130px;
}
/*не БЭМ*/
.header__content__info__grey{
    margin-top: 60px;
    margin-bottom: 60px;
}
/*не БЭМ*/
.me{
    text-align: center;
    padding: 119px 17% 100px 17%;
}
.project{
    background-color: #34547A;
    color: #FFFFFF;
    padding: 100px 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project__point{
    display: flex;
    flex-direction: row;
}
/*не БЭМ*/
.project__point__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}
/*не БЭМ*/
h3{
    margin-bottom: 10px;
}
.skills{
    padding: 102px 17% 101px 17%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills__img{
    width: 50%;
}
.skills__myskills{
    margin-right: 150px;
    width: 100%;
}
.skills__myskills__line{
    margin-top: 19px;
    margin-bottom: 29px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.skills__myskills__line__blue{
    height: 4px;
    background-color: #34547A;
    width: 78%;
}
.skills__myskills__line__grey{
    height: 4px;
    background-color:#C4C4C4;
    width: 22%;
}
.work{
    width: auto;
    height: auto;
    background-color: #EEEFF1;
    padding: 100px 17% 100px 17%;
    text-align: center;
}
.work__video{
    margin-top: 57px;
    width: auto;
    height: auto;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work__video__video{
    position: relative;
}
.work__video__play{
    position: absolute;
}
.work__video__play:hover{
    z-index: -1;
}
.pictures{
    width: auto;
    height: auto;
    padding: 28px 0 100px 0;
}
.pictures__row{
    background-color: #34547A;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
/*не БЭМ*/
.pictures__row>div{
    display: flex;
    height: auto;
    width: 25%;
}
/*не БЭМ*/
.pictures__row img{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
}
.pictures__row__combo{
    justify-content: center;
}
/*не БЭМ*/
.pictures__row__combo__view{
    position: absolute;
    display: flex;
    align-self: center;
}
.pictures__microsoft{
    margin: 72px 17% 0 17%;
    display: flex;
    justify-content: space-between;
}
/*не БЭМ*/
.pictures__row a:hover{
	opacity: 0.2;
    z-index: auto;
}
.form{
    width: auto;
    height: auto;
    padding: 100px 35% 100px 35%;
    background-color: #EEEFF1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__input{
    width: 100%;
}
.form__input__info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 20px;
}
.form__input__info *{
    border-style: none;
    height: 50px;
    width: 45%;
}
/*не БЭМ*/
#message{
    border-style: none;
    width: 100%;
    height: 175px;
    margin-bottom: 50px;
}
.footer{
    background-color: #34547A;
    padding: 50px 17%
}
.footer_img{
    float: right;
}
.footer__name{
    color: white;
    margin-bottom: 20px;
}
.footer__info{
    color: white;
}
